body {
  background-color: whitesmoke;
}
/* sticky navbar start */
.navcolor {
  background-color: #1f1f2e;
  color: whitesmoke;
  height: 50px;
  top: 0;
  position: sticky;
  top: 0px;
}
.whitetext {
  color: white;
}
.marginleft {
  margin-left: -100px;
}

/* sticky navbar endst */

/* scroll menu starts */
.sidtuto {
  position: sticky;
  top: 50px;
  height: calc(100vh - 50px);
  width: 230px;
  overflow-x: hidden;
  padding-left: 25px;
  background-color: #e1e1ea;
}
.sidtuto_links,
a:hover {
  background-color: #c2c2d6;
}
.sidtuto,
.sidtuto_links,
li {
  list-style: none;
}
.maincontainer {
  display: flex;
}
.sidecontent {
  margin-left: 20px;
  width: 950px;
  height: 1000px;
  border: 1px solid #b3b3ff;
}
/* scroll menu ends */

/* defination starts */
.btnleft {
  float: right;
  margin-right: 30px;
}
.sbtnradius {
  border-radius: 5px;
}

.htitle {
  padding: 150px 0px 5px 30px;
}

.defination {
  background-color: #ccdcff;
  margin-top: 30px;
  padding: 30px 25px 30px 30px;
}
